*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
 padding: 40px;
 background-color:#000080 ;
 background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%), url(1.jpg);
 font-weight: 20px;
 font-family: sans-serif, roboto ;
}
h2{
	color: skyblue;
	text-align: center;
	font-size: 40px;
}
p{
	font-size: 30px;
}
.intro{
	font-style: !important;
	color: whitesmoke;
	display: flex;
	justify-content: space-evenly;
}

.animated-text {
  animation-name: fade-in;
  animation-duration: 15s;
  opacity: 3; /* Initially invisible */
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
